<?php
$AUTOCONFIG = array(
  "dbtype"        => "{{ nextcloud_autoconfig.dbtype }}",
  "dbname"        => "{{ nextcloud_autoconfig.dbname }}",
  "dbuser"        => "{{ nextcloud_autoconfig.dbuser }}",
  "dbpass"        => "{{ nextcloud_autoconfig.dbpassword }}",
  "dbhost"        => "{{ nextcloud_autoconfig.dbhost }}",
  "dbtableprefix" => "{{ nextcloud_autoconfig.dbtableprefix }}",
  "adminlogin"    => "{{ nextcloud_autoconfig.admin_username }}",
  "adminpass"     => "{{ nextcloud_autoconfig.admin_password }}",
  "directory"     => "{{ nextcloud_autoconfig.datadir }}",
);
