<?php
// {{ ansible_managed }}. role: {{ role_name }}. template: instance.config.php.j2
$CONFIG = array (
  'datadirectory' => '{{ nextcloud_datadirectory }}',
  'trusted_domains' =>
  array (
{% for item in nextcloud_fqdn %}
    {{ loop.index0 }} => '{{ item }}',
{% endfor %}
  ),
{% if nextcloud_trusted_proxies is defined %}
  'trusted_proxies' =>
  array (
{% for item in nextcloud_trusted_proxies %}
    '{{ item }}',
{% endfor %}
  ),
{% endif %}
{% if nextcloud_instance_configuration is defined %}
{% for item in nextcloud_instance_configuration | dictsort %}
  '{{ item.0 }}' => '{{ item.1 }}',
{% endfor %}
{% endif %}
);
