<?php
// {{ ansible_managed }}. role: {{ role_name }}. template: instance.config.php.j2
$CONFIG = array (
  'datadirectory' => '{{ nextcloud_datadirectory }}',
  'trusted_domains' =>
    array (
{% for item in nextcloud_fqdn %}
      {{ loop.index0 }} => '{{ item }}',
{% endfor %}
  ),
{% if nextcloud_trusted_proxies is defined %}
  'trusted_proxies' =>
    array (
{% for item in nextcloud_trusted_proxies %}
      '{{ item }}',
{% endfor %}
  ),
{% endif %}
  'overwrite.cli.url' => 'https://{{ nextcloud_fqdn[0] }}',
  'overwritehost' => '{{ nextcloud_fqdn[0] }}',
  'overwriteprotocol' => 'https',
  'default_phone_region' => '{{ nextcloud_default_phone_region | default("en") }}',
  'memcache.local' => 'OC\\Memcache\\APCu',
{% if nextcloud_configuration is defined %}
{% for item in nextcloud_configuration %}
  '{{ item.name }}' => {{ item.value }},
{% endfor %}
{% endif %}
);
